<div class="container-fluid" th:fragment="imageAdd" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="application/javascript" th:src="@{'/resources/js/functions.js'}"></script>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Dodawanie obrazka do produktu : <span th:text="${product.name}"></span>
            </div>
            <div class="card-body">

                <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                    <span th:utext="${errorMessage}"></span>
                </div>

                <form th:action="@{'/admin/images/add/' + ${product.id}}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="image1" class="col-sm-2 col-form-label">Wybierz obrazki</label>
                        <div class="col-sm-5">
                            <div class="col-md">
                                <label class="btn btn-outline-secondary" for="image1">
                                    <input id="image1" type="file" name="img" multiple accept=".jpg,.jpeg,.gif,.png,.webp" style="display:none" onchange="getData(this);">
                                    szukaj
                                </label>
                            </div>
                            <span class="label label-info" id="img1"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">zapisz obrazki</button>
                </form>
            </div>
        </div>
    </div>
</div>