<div class="container-fluid" th:fragment="usersList" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Lista produktów
            </div>
            <div class="card-body">

                <table class="table text-center table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa produktu</th>
                        <th>Ilość w magazynie</th>
                        <th>Cena</th>
                        <th>Ilość obrazków</th>
                        <th>Kategoria</th>
                        <th>Opcje</th>
                    </tr>
                    </thead>
                    <tbody>

                        <th:block th:each="product,iter : ${productsList}">
                            <tr>
                                <td><span th:text="${iter.count}"></span>.</td>
                                <td>
                                    <a th:href="@{'/admin/products/show/' + ${product.productId}}" th:text="${product.productName}"></a>
                                </td>
                                <td><span th:text="${product.numberProducts}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                                <td><span th:text="${#lists.size(product.imagesList)}"></span></td>
                                <td><span th:text="${product.categoryName}"></span></td>
                                <td>
                                    <a class="btn btn-outline-primary btn-sm">Edytuj</a>
                                    <a class="btn btn-outline-danger btn-sm" href="">Usuń</a>
                                </td>

                            </tr>
                        </th:block>

                    </tbody>
                </table>
<!--                <span th:text="${productsList}"></span>-->
            </div>
        </div>
    </div>
</div>