<div class="container-fluid" th:fragment="productInfo" xmlns:th="http://www.w3.org/1999/xhtml">

    <link th:href="@{'/resources/lightbox/css/lightbox.css'}" rel="stylesheet" />

    <div class="card">
        <div class="card-header">
            Informacje o produkcie <span style="color: #007bff;" th:text="${product.name}"></span>
        </div>
        <div class="card-body">

            <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                <span th:utext="${errorMessage}"></span>
            </div>

            <div class="alert alert-success" role="alert" th:if="${successMessage}">
                <span th:utext="${successMessage}"></span>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Nazwa produktu</th>
                        <td th:text="${product.name}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Dodaj obrazki</th>
                        <td><a th:href="@{'/admin/images/add/' + ${product.id}}">wybierz obrazki</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Kategoria</th>
                        <td th:text="${product.categoryId.name}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Opis produktu</th>
                        <td th:utext="${product.description}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Cena produktu</th>
                        <td> <span th:text="${#numbers.formatDecimal(product.price, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                    </tr>
                    <tr>
                        <th scope="row">Dostępność</th>
                        <td th:text="${product.numberProducts}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="thumbnail" th:each="image : ${images}">
                    <a onclick="return confirm('Potwierdzasz usunięcie zdjęcia?');"
                       class="close" th:href="@{'/admin/images/delete/' + ${product.id} + '/' + ${image.id}}"><span>&times;</span></a>
                    <a th:href="@{'/media/products/' + ${image.path}}" data-lightbox="images" class="aimg"><img th:src="@{'/media/products/' + ${image.path}}"
                                                 th:alt="${image.path}" class="img-thumbnail rounded" style="width: 150px;"></a>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:src="@{'/resources/lightbox/js/lightbox.js'}"></script>
</div>