<div class="container-fluid" th:fragment="productAdd" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="application/javascript" th:src="@{'/resources/js/functions.js'}"></script>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Dodawanie produktu
            </div>
            <div class="card-body">

                <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                    <span th:utext="${errorMessage}"></span>
                </div>

                <form th:action="@{'/admin/products/add'}" method="post" enctype="multipart/form-data" th:object="${newProductForm}">
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Nazwa produktu <span style="color: red;">*</span> </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{productName}" id="name" placeholder="Nazwa produktu">
                            <td th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="describe" class="col-sm-2 col-form-label">Opis produktu <span style="color: red;">*</span> </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" th:field="*{productDescription}" style="height: 300px;" id="describe" placeholder="Opis produktu"></textarea>
                            <td th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="categories" class="col-sm-2 col-form-label">Kategorie</label>
                        <div class="col-sm-5">
                            <select id="categories" class="form-control" th:field="*{categoryId}">
                                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2 col-form-label">Cena</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" th:field="*{productPrice}" id="price" placeholder="Cena produktu">
                            <td th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="number" class="col-sm-2 col-form-label">Dostępnych produktów</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" th:field="*{numberProducts}" id="number" placeholder="Ilość dostępnych produktów">
                            <td th:if="${#fields.hasErrors('numberProducts')}" th:errors="*{numberProducts}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image1" class="col-sm-2 col-form-label">Wybierz obrazki</label>
                        <div class="col-sm-5">
                            <div class="col-md">
                                <label class="btn btn-outline-secondary" for="image1">
                                    <input id="image1" type="file" name="img" multiple accept=".jpg,.jpeg,.gif,.png,.webp" style="display:none" onchange="getData(this);">
                                    szukaj
                                </label>
                            </div>
                            <span class="label label-info" id="img1"></span>
                        </div>
                    </div>
                    <label class="col-sm-2 col-form-label"></label>
                    <button type="submit" class="btn btn-outline-primary">zapisz produkt</button>
                </form>
            </div>
        </div>
    </div>
</div>