<div class="container-fluid" th:fragment="dashboard" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-sm-5">

            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Liczba aktywnych użytkowników w systemie
                        <span class="badge badge-primary badge-pill">11</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Liczba produktów
                        <span class="badge badge-primary badge-pill">63</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Zamówienia
                        <span class="badge badge-primary badge-pill">9</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Role w systemie
                        <span class="badge badge-primary badge-pill">16</span>
                    </li>
                </ul>
            </div>

            <br/>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Dane
                    </div>
                    <div class="card-body">
                        <div class="overflow-auto" style="max-height: 700px;">
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nazwa</th>
                                    <th>Ostatnie zamówienia</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>1.</td>
                                    <td>dane</td>
                                    <td style="color: black;">dane</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>dane</td>
                                    <td style="color: black;">dane</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>dane</td>
                                    <td style="color: black;">dane</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>dane</td>
                                    <td style="color: black;">dane</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>dane</td>
                                    <td style="color: black;">dane</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>dane</td>
                                    <td style="color: black;">dane</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-7">
            <div class="card">
                <div class="card-header">
                    Logowania do systemu
                </div>
                <div class="card-body">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nazwa użytkownika</th>
                            <th>Data</th>
                            <th>Wpis</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>michal@stopzone.pl</td>
                            <td>2019-11-26 10:29:31</td>
                            <td>Użytkownik został zalogowany.</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>