<div class="container-fluid" th:fragment="accountUserPanel" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="row">

        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                <span th:utext="${errorMessage}"></span>
            </div>

            <div class="alert alert-success" role="alert" th:if="${successMessage}">
                <span th:utext="${successMessage}"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Zmiana danych
                </div>
                <div class="card-body">
                    <form th:action="@{'/panel/my-account/edit-user-data'}" method="post" th:object="${userData}">
                        <div class="form-group">
                            <label for="name">Imię i nazwisko</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" th:field="*{name}" placeholder="Wpisz Imię i nazwisko">
                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
                        </div>
                        <div class="form-group">
                            <label for="pass">Nowe hasło</label>
                            <input type="password" class="form-control" id="pass" aria-describedby="emailHelp" th:field="*{password}" placeholder="Wpisz nowe hasło">
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>
                        </div>
                        <div class="form-group">
                            <label for="rpass">Powtórz nowe hasło</label>
                            <input type="password" class="form-control" id="rpass" th:field="*{rpassword}" placeholder="Powtórz nowe hasło">
                            <td th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}">Error</td>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Zapisz</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Dodaj adres
                </div>
                <div class="card-body">
                    <form th:action="${'/panel/my-account/edit-add-address'}" method="post" th:object="${addressDto}">
                        <div class="form-group">
                            <label for="street">Ulica</label>
                            <input type="text" class="form-control" id="street" th:field="*{street}" aria-describedby="emailHelp" placeholder="Wpisz ulicę">
                        </div>
                        <div class="form-group">
                            <label for="zipcode">Kod pocztowy</label>
                            <input type="text" class="form-control" id="zipcode" th:field="*{zipcode}" aria-describedby="emailHelp" placeholder="Kod pocztowy">
                        </div>
                        <div class="form-group">
                            <label for="city">Miasto</label>
                            <input type="text" class="form-control" id="city" th:field="*{city}" aria-describedby="emailHelp" placeholder="Miasto">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Zapisz</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <br />

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Lista adresów
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ulica</th>
                        <th scope="col">Kod pocztowy</th>
                        <th scope="col">Miasto</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="ad, iter : ${addresses}">
                        <th scope="row" th:text="${iter.index + 1}"></th>
                        <td th:text="${ad.street}"></td>
                        <td th:text="${ad.zipcode}"></td>
                        <td th:text="${ad.city}"></td>
                    </tr>



                    </tbody>
                </table>
<!--                <span th:text="${addresses}"></span>-->
            </div>
        </div>
    </div>

</div>