<div class="container-fluid" th:fragment="ordersUserPanel" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Zamówienia
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>Nr zamówienia</th>
                        <th>Dane klienta</th>
                        <th>Data</th>
                        <th>Kwota Netto</th>
                        <th>Kwota Brutto</th>
                        <th>Produkty</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="o : ${orders}">
                        <td class="align-middle">#<span th:text="${o.id}"></span></td>
                        <td class="align-middle">
                            <span th:text="${o.user.name}"></span><br />
                            <span th:text="${o.address.street}"></span><br />
                            <span th:text="${o.address.zipcode}"></span> <span th:text="${o.address.city}"></span>
                        </td>
                        <td class="align-middle"><span th:text="${o.date}"></span></td>
                        <td class="align-middle"><span th:text="${#numbers.formatDecimal(o.brutto, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                        <td class="align-middle"><span th:text="${#numbers.formatDecimal(o.netto, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                        <td class="align-middle">
                            <p style="padding: 0; margin: 1px 0;" th:each="p : ${o.productsList}">
                                <span th:text="${p.product.name + ' / ' + #numbers.formatDecimal(p.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł
                            </p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>