<div class="container-fluid" th:fragment="startUserPanel" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Moje dane
                </div>
                <div class="card-body">
                    <table class="table text-center">
                        <tbody>

                            <tr>
                                <th scope="row">Imię i nzawisko</th>
                                <td th:text="${userData.name}"></td>
                            </tr>

                            <tr>
                                <th scope="row">Adres e-mail</th>
                                <td th:text="${userData.email}"></td>
                            </tr>

                            <tr>
                                <th scope="row">Uprawnienia</th>
                                <td th:text="${userData.roleId.roleName}"></td>
                            </tr>

                            <tr>
                                <th scope="row">Status konta</th>
                                <td th:if="${userData.active == 1}">konto aktywne</td>
                                <td th:unless="${userData.active == 1}">konto nieaktywne</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Przypisane adresy
                </div>
                <div class="card-body">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ulica</th>
                            <th>Kod pocztowy</th>
                            <th>Miasto</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="address, iter : ${userData.addressList}">
                            <th scope="row" th:text="${iter.index + 1}"></th>
                            <td th:text="${address.street}"></td>
                            <td th:text="${address.zipcode}"></td>
                            <td th:text="${address.city}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>