body { margin: 0; padding: 0; background-color: #FFF; }
/* public */
.carousel-inner { width: 100%; max-height: 400px !important; }
.my-margin { margin: 30px 0 -10px 0; }
.header-image-action { text-decoration: none; margin: 0 2px 0 0; }
.header-image-action:hover { text-decoration: none; }
.dropdown:hover .dropdown-menu { display: block; }
.dropdown-toggle:after { content: none }
.my-inline { display: inline-block; }
.footer { margin: 50px 0 0 0; background-color: #FFFFFF; color: #2e86de; text-align: center; padding:30px 0; border-top: solid 2px #000; }
.text-muted { color: #2e86de !important; }
.modal-backdrop { background-color: #ecf0f1; }
.user-card { margin-top: 10px; }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link { background-color: #FFFFFF; color: #000000; border: solid 1px #000000; }
.nav-pills .nav-link, .nav-pills .show > .nav-link { border: solid 1px #CCCCCC; margin: 0 5px 5px 0; }

ol.breadcrumb { background-color: #FFF; padding: 20px 0 0 30px; font-size: 14px; }
.breadcrumb-item.active { color: #2e86de; }
.breadcrumb-item + .breadcrumb-item::before { content: "\00BB"; }

.page-item.active .page-link { z-index: 1; background-color: #e9ecef; color: #007bff; font-weight: bold; border: 1px solid #dee2e6; }

.has-search .form-control { padding-left: 2.375rem; }
.has-search .form-control-feedback { position: absolute; z-index: 2; display: block; width: 2.375rem; height: 2.375rem; line-height: 2.375rem; text-align: center; color: #aaa; }

.bg-light { background-color: #FFF !important; }

.h4 { margin: 20px 0; padding: 10px; color: #2e86de; border-bottom: solid 2px #000000; border-top: solid 2px #000000; }

.pic-1 { height: 250px; }
.product-grid6 { margin: 15px 0; }
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
/*.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}*/
.product-grid6 .price_promo span.promo{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}}

.modal-login { color: #636363; width: 450px; margin-top: 150px; }
.modal-login .modal-content { padding: 5px 20px; border-radius: 5px; border: solid 1px #CCC; }
.modal-login .modal-header { border-bottom: none; margin-bottom: -10px; }
.modal-login .modal-header p.left { padding: 5px 0 0 0; margin: 0; color: #000; }
.modal-login .modal-header p.right { padding: 0; margin: 0; float: right; }
.modal-login .form-group { position: relative; }
.modal-login i { position: absolute; left: 13px; top: 11px; font-size: 18px; }
.modal-login .form-control { padding-left: 40px; }
.modal-login .form-control:focus { border-color: #00ce81; }
.modal-login .modal-footer { border-top: solid 1px #CCC; font-size: 13px; }
.modal-login .loginBtn { float: right; }
.modal-login .myLoginBtn { padding: 7px; }
.modal-login .forgetPass { color: #4F5155; }
.modal-login .alerts { margin: 2px 0; }

.thumbnail { width: 150px; display: inline-block; position:relative; margin: 5px; }
.thumbnail .close { position: absolute; top: 2px; right: 2px; z-index: 100; background-color: red; padding: 0 3px; font-size: 14px; }
 #sort-data { padding: 10px 20px; border: solid 1px #909090; font-size: 14px; }

#cart-count { font-size: 13px; padding: 3px 4px; vertical-align: top; margin: -5px 0 0 -10px; }