<div th:fragment="cartPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/cart/all'}">Koszyk</a>
            </li>
            <li class="breadcrumb-item">
                <span>Lista produktów w koszyku</span>
            </li>
        </ol>
    </nav>

    <div class="alert alert-danger text-center" role="alert" th:if="${param.error}">
        Wystąpił problem podczas dodawania zamówienia. Prosimy ponownie przejść ścieżkę zakupową.
    </div>

    <div class="alert alert-success text-center " role="alert" th:if="${successMessage}">
        <span th:utext="${successMessage}"></span>
    </div>

    <div class="row-md-12" th:if="${#lists.isEmpty(cart)}" style="margin: 40px 0;">
        <table class="table">
            <tbody>
                <tr>
                    <td class="align-middle">
                        brak produktów w koszyku
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-md-12" th:unless="${#lists.isEmpty(cart)}" style="margin: 40px 0;">
        <table class="table">
            <tbody>
                <tr th:each="product : ${cart}">
                    <td class="align-middle">
                        <a th:href="@{'/product/' + ${product.productId}}">
                            <img th:if="${#lists.isEmpty(product.imagesList)}" th:src="@{'/resources/images/no_image.png'}" style="width: 100px;">
                            <img th:unless="${#lists.isEmpty(product.imagesList)}" th:src="@{'/media/products/' + ${product.imagesList[0].path}}" style="width: 100px;">
                        </a>
                    </td>
                    <td class="align-middle"><span th:text="${product.productName}"></span></td>
                    <td class="align-middle text-center"><span>1 szt.</span></td>
                    <td class="align-middle text-center"><span th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                    <td class="align-middle text-center"><a th:href="@{'/cart/del/' + ${product.productId}}" class="btn btn-outline-danger btn-sm">Usuń</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center">SUMA</td>
                    <td class="align-middle text-center"><span style="font-weight: bold;" th:text="${#numbers.formatDecimal(sum, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                    <td class="align-middle text-center"><a th:href="@{'/place-order'}" class="btn btn-outline-success">Kupuję</a> </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>