<div th:fragment="categoryPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/category/' + ${categoryId}}">Kategorie</a>
            </li>
            <li class="breadcrumb-item">
                <span th:text="${categoryName}"></span>
            </li>
        </ol>
    </nav>

    <br />

    <div class="row" style="margin: 10px 0; border-bottom: solid 1px #CCC; padding: 10px 0;" th:each="product : ${products}">

        <div class="col-sm-2">
            <a th:href="@{'/product/' + ${product.productId}}">
                <img th:if="${#lists.isEmpty(product.imagesList)}" th:src="@{'/resources/images/no_image.png'}" style="width: 100%;">
                <img th:unless="${#lists.isEmpty(product.imagesList)}" th:src="@{'/media/products/' + ${product.imagesList[0].path}}" style="width: 100%;">
            </a>
        </div>

        <div class="col-sm-8">
            <p style="font-weight: bold; color: #4F5155;">
                <span th:text="${product.productName}"></span>
                <span style="padding: 0 0 0 20px; color: #007bff;" th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł
            </p>
            <p><span th:text="${#strings.abbreviate(#strings.replace(product.productDescription,'<br />',''),200)}"></span> [ <a th:href="@{'/product/' + ${product.productId}}">czytaj więcej</a> ]</p>
        </div>

        <div class="col-md-2" style="text-align: center;">
            <a th:href="@{'/cart/add/' + ${product.productId}}" class="btn btn-outline-secondary btn-sm">dodaj do koszyka</a>
        </div>


    </div>

</div>