<div th:fragment="indexPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="slidertop" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner2" data-slide-to="1"></li>
            <li data-target="#banner3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/resources/images/banners/baner_1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/resources/images/banners/baner_2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/resources/images/banners/baner_3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#slidertop" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slidertop" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row mb-2 my-margin">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Sprzęt komputerowy</strong>
                    <h3 class="mb-0">Nowe procesory</h3>
                    <div class="mb-1 text-muted">21-11-2019</div>
                    <p class="card-text mb-auto">Procesory Intel Core 9 generacji „Coffee Lake-S” podniosły poprzeczkę w kwestii wydajności ...</p>
                    <a href="#" class="stretched-link">Czytaj dalej</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/resources/images/news/intel.jpg" alt="procesory intela" style="width: 200px; height: 250px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Fotografia</strong>
                    <h3 class="mb-0">Sigma 24-70 mm</h3>
                    <div class="mb-1 text-muted">22-11-2019</div>
                    <p class="mb-auto">Przed tygodniem Sigma pokazała nowy reporterski zoom do systemu Sony E, który według zapowiedzi ...</p>
                    <a href="#" class="stretched-link">Czytaj dalej</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/resources/images/news/sigma.jpg" alt="procesory intela" style="width: 200px; height: 250px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="row h4">
        <div class="col-md-6" style="padding: 7px 0 0 0;">
            <i class="fa fa-concierge-bell"></i>
            Oferta Specjalna
        </div>

        <div class="col-md-6 text-right">
            <form action="/" method="get">
                <div class="row">
                    <div class="col">
                        <select id="sort-data" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                            <option value="/">Sortuj produkty wg: </option>
                            <option th:if="${sort.value == '/?sortBy=' + _sortBy + '&order=' + _order}" th:each="sort : ${sortMap}"
                                    selected th:value="@{${sort.value}}" th:text="${sort.key}"></option>
                            <option th:unless="${sort.value == '/?sortBy=' + _sortBy + '&order=' + _order}"
                                    th:each="sort : ${sortMap}" th:value="@{${sort.value}}" th:text="${sort.key}"></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="row">
            <div th:each="product, iter : ${products}" th:if="${iter.index &lt; 4}" class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a th:href="@{'/product/' + ${product.productId}}">
                            <img class="pic-1" th:if="${#lists.isEmpty(product.imagesList)}" th:src="@{'/resources/images/no_image.png'}">
                            <img class="pic-1" th:unless="${#lists.isEmpty(product.imagesList)}" th:src="@{'/media/products/' + ${product.imagesList[0].path}}">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title">
                            <a th:href="@{'/product/' + ${product.productId}}" th:text="${product.productName}"></a>
                        </h3>
                        <div class="price_promo"> <span th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span><span> zł</span>
                            <span class="promo" th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span><span class="promo"> zł</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a th:href="@{'/product/' + ${product.productId}}" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a th:href="@{'/cart/add/' + ${product.productId}}" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row h4">
        <div class="col-md-6" style="padding: 7px 0;">
            <i class="fa fa-microphone"></i>
            Polecamy
        </div>
    </div>
    <div class="row">
        <div th:each="product, iter : ${products}" th:if="${iter.index &gt; 3}" class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a th:href="@{'/product/' + ${product.productId}}">
                        <img class="pic-1" th:if="${#lists.isEmpty(product.imagesList)}" th:src="@{'/resources/images/no_image.png'}">
                        <img class="pic-1" th:unless="${#lists.isEmpty(product.imagesList)}" th:src="@{'/media/products/' + ${product.imagesList[0].path}}">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a th:href="@{'/product/' + ${product.productId}}" th:text="${product.productName}"></a>
                    </h3>
                    <div class="price">
                        <span th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł
                    </div>
                </div>
                <ul class="social">
                    <li><a th:href="@{'/product/' + ${product.productId}}" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a th:href="@{'/cart/add/' + ${product.productId}}" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="text-center" style="margin: 30px 0 10px 0;">
            <span th:text="${'Znalezionych produktów: ' + countProducts}"></span>
        </div>
        <nav aria-label="Pagination" th:if="${totalPages gt 0}">
            <ul class="pagination justify-content-center">

                <li th:if="${_sortBy == null}" class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/?page={id}(id=${page - 1})}" aria-label="Previous" title="Poprzednia strona" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:unless="${_sortBy == null}" class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                    <a class="page-link" th:href="@{'/?sortBy=' + ${_sortBy} + '&amp;order=' + ${_order} + '&amp;page=' + ${page - 1}}" aria-label="Previous" title="Poprzednia strona" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:if="${_sortBy == null}" class="page-item"th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:classappend="${i eq page} ? 'active'">
                    <a class="page-link" th:href="@{/?page={id}(id=${i})}" th:text="${i + 1}" th:title="${'Strona '+ (i + 1)}" data-toggle="tooltip"></a>
                </li>
                <li th:unless="${_sortBy == null}" class="page-item"th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:classappend="${i eq page} ? 'active'">
                    <a class="page-link" th:href="@{'/?sortBy=' + ${_sortBy} + '&amp;order=' + ${_order} + '&amp;page=' + ${i}}" th:text="${i + 1}" th:title="${'Strona '+ (i + 1)}" data-toggle="tooltip"></a>
                </li>

                <li th:if="${_sortBy == null}" class="page-item" th:classappend="${page + 1 eq totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/?page={id}(id=${page + 1})}" aria-label="Next" title="Następna strona" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li th:unless="${_sortBy == null}" class="page-item" th:classappend="${page + 1 eq totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{'/?sortBy=' + ${_sortBy} + '&amp;order=' + ${_order} + '&amp;page=' + ${page + 1}}" aria-label="Next" title="Następna strona" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>