<div th:fragment="placeOrderPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/cart/all'}">Koszyk</a>
            </li>
            <li class="breadcrumb-item">
                <span>Składanie zamówienia</span>
            </li>
        </ol>
    </nav>

    <div class="row-md-12" th:if="${#lists.isEmpty(cart)}" style="margin: 40px 0;">
        <table class="table">
            <tbody>
            <tr>
                <td class="align-middle">
                    Dodaj produkty do koszyka
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row-md-12" th:unless="${#lists.isEmpty(cart)}" style="margin: 40px 0;">
        <table class="table">
            <tbody>
                <tr th:each="product : ${cart}">
                    <td class="align-middle">
                        <a th:href="@{'/product/' + ${product.productId}}">
                            <img th:if="${#lists.isEmpty(product.imagesList)}" th:src="@{'/resources/images/no_image.png'}" style="width: 100px;">
                            <img th:unless="${#lists.isEmpty(product.imagesList)}" th:src="@{'/media/products/' + ${product.imagesList[0].path}}" style="width: 100px;">
                        </a>
                    </td>
                    <td class="align-middle"><span th:text="${product.productName}"></span></td>
                    <td class="align-middle text-center"><span>1 szt.</span></td>
                    <td class="align-middle text-center"><span th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center"><span style="font-weight: bold;" th:text="${#numbers.formatDecimal(sum, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</td>
                </tr>
            </tbody>
        </table>
        <form th:action="@{/place-order}" method="post" th:object="${placeOrderForm}">

            <div class="col-sm-12" style="margin: 40px 0;">
                <h4>
                    1. Wybór adresu
                </h4>
                <small class="form-text text-muted alert-danger" style="padding: 10px;" th:if="${#fields.hasErrors('addressDto')}" th:errors="*{addressDto}">error</small>
            </div>

            <div class="row" th:if="${not #lists.isEmpty(user.addressList)}" style="margin: 40px 0;">
                <div class="col-sm">
                    <div class="form-check">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding: 10px 0 10px 10px;" th:each="address, iter : ${user.addressList}">
                                <input class="form-check-input" type="radio" th:field="*{addressDto}" th:id="${iter.index}" th:value="${address.id}" checked>
                                <label class="form-check-label" style="width: 100%;" th:for="${iter.index}">
                                    <div class="row" style="margin: 0 0 0 20px;">
                                        <div class="col-sm text-left" style="font-weight: bold;" th:text="${user.name}"></div>
                                        <div class="col-sm text-left" th:text="${address.street}"></div>
                                        <div class="col-sm text-left" th:text="${address.zipcode}"></div>
                                        <div class="col-sm text-left" th:text="${address.city}"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" th:unless="${not #lists.isEmpty(user.addressList)}" style="margin: 40px 0;">
                <div class="col-sm">
                    Brak adresu pocztowego, proszę dodać adres w panelu klienta
                </div>
            </div>

            <div class="col-sm-12" style="margin: 40px 0;">
                <h4>
                    2. Wybór sposobu dostawy
                </h4>
            </div>

            <div class="row" style="margin: 40px 0;">
                <div class="col-sm">
                    <div class="form-check">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding: 10px 0 10px 10px;">
                                <input class="form-check-input" type="radio" id="kurier" name="dostawa" checked>
                                <label class="form-check-label" style="width: 100%;" for="kurier">
                                    <div class="row" style="margin: 0 0 0 20px;">
                                        <div class="col-sm text-left">
                                            Dostawa Kurierem UPS
                                        </div>
                                        <div class=" col-sm text-right">
                                            0,00 zł
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li class="list-group-item" style="padding: 10px 0 10px 10px;">
                                <input class="form-check-input" type="radio" id="odbior" name="dostawa">
                                <label class="form-check-label" style="width: 100%;" for="odbior">
                                    <div class="row" style="margin: 0 0 0 20px;">
                                        <div class="col-sm text-left">
                                            Dostawa Kurierem UPS
                                        </div>
                                        <div class=" col-sm text-right">
                                            0,00 zł
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="margin: 40px 0;">
                <h4>
                    3. Potwierdzam i zamawiam
                </h4>
            </div>

            <div class="row" style="margin: 40px 0;">
                <div class="col-sm">
                    <div class="form-check text-right">
                        <input type="submit" class="btn btn-outline-success" value="Zamawiam wybrane produkty" />
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>