<div th:fragment="productPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <link th:href="@{'/resources/lightbox/css/lightbox.css'}" rel="stylesheet" />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/category/' + ${product.categoryId}}">Kategorie</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{'/category/' + ${product.categoryId}}" th:text="${product.categoryName}"></a>
            </li>
            <li class="breadcrumb-item">
                <span th:text="${product.productName}"></span>
            </li>
        </ol>
    </nav>

    <br />

    <div class="row" th:object="${product}">
        <div class="col-md-5">
            <a th:href="@{'/media/products/' + ${image.path}}" data-lightbox="images" th:each="image, iter : ${product.imagesList}">
                <img th:if="${iter.index == 0}" th:src="@{'/media/products/' + ${image.path}}" alt="" class="img-thumbnail" style="margin: 0 0 10px 0;">
                <img th:unless="${iter.index == 0}" th:src="@{'/media/products/' + ${image.path}}" alt="" class="img-thumbnail" style="width: 108px;">
            </a>
        </div>

        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item"><span style="font-weight: bold;" th:text="${product.productName}"></span></li>
                <li class="list-group-item">Dostępnych produktów: <span th:text="${product.numberProducts}"></span></li>
                <li class="list-group-item">Cena: <span th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</li>
                <li class="list-group-item" style="text-align: center;">
                    <a th:href="@{'/cart/add/' + ${product.productId}}" class="btn btn-outline-secondary btn-sm">dodaj do koszyka</a>
                </li>
                <li class="list-group-item"><span th:utext="${product.productDescription}"></span></li>
            </ul>
        </div>
    </div>

    <script type="application/javascript" th:src="@{'/resources/lightbox/js/lightbox.js'}"></script>
</div>