<div th:fragment="searchPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{'/'}">Szukana fraza</a>
            </li>
            <li class="breadcrumb-item">
                <span th:if="${searchName == null}">Wszystkie produkty</span>
                <span th:unless="${searchName == null}" th:text="${searchName}"></span>
            </li>
        </ol>
    </nav>

    <br />

    <div class="row" style="margin: 10px 0; border-bottom: solid 1px #CCC; padding: 10px 0;" th:each="product : ${products}">

        <div class="col-sm-2">
            <a th:href="@{'/product/' + ${product.productId}}">
                <img th:if="${#lists.isEmpty(product.imagesList)}" th:src="@{'/resources/images/no_image.png'}" style="width: 100%;">
                <img th:unless="${#lists.isEmpty(product.imagesList)}" th:src="@{'/media/products/' + ${product.imagesList[0].path}}" style="width: 100%;">
            </a>
        </div>

        <div class="col-sm-8">
            <p style="font-weight: bold; color: #4F5155;">
                <span th:text="${product.productName}"></span>
                <span style="padding: 0 0 0 20px; color: #007bff;" th:text="${#numbers.formatDecimal(product.productPrice, 2, 'DEFAULT', 2, 'DEFAULT')}"></span> zł
            </p>
            <p><span th:text="${#strings.abbreviate(#strings.replace(product.productDescription,'<br />',''),200)}"></span> [ <a th:href="@{'/product/' + ${product.productId}}">czytaj więcej</a> ]</p>
        </div>

        <div class="col-md-2" style="text-align: center;">
            <a th:href="@{'/cart/add/' + ${product.productId}}" class="btn btn-outline-secondary btn-sm">dodaj do koszyka</a>
        </div>


    </div>

    <div class="col-sm-12">
        <div class="text-center" style="margin: 30px 0 10px 0;">
            <span th:text="${'Znalezionych produktów: ' + countProducts}"></span>
        </div>
        <nav aria-label="Pagination" th:if="${totalPages gt 0}">
            <ul class="pagination justify-content-center">

                <li th:if="${searchName == null}" class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/search/?page={id}(id=${page - 1})}" aria-label="Previous" title="Poprzednia strona" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:unless="${searchName == null}" class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                    <a class="page-link" th:href="@{'/search/?name=' + ${searchName} + '&amp;page=' + ${page - 1}}" aria-label="Previous" title="Poprzednia strona" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:if="${searchName == null}" class="page-item"th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:classappend="${i eq page} ? 'active'">
                    <a class="page-link" th:href="@{/search/?page={id}(id=${i})}" th:text="${i + 1}" th:title="${'Strona '+ (i + 1)}" data-toggle="tooltip"></a>
                </li>
                <li th:unless="${searchName == null}" class="page-item"th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:classappend="${i eq page} ? 'active'">
                    <a class="page-link" th:href="@{'/search/?name=' + ${searchName} + '&amp;page=' + ${i}}" th:text="${i + 1}" th:title="${'Strona '+ (i + 1)}" data-toggle="tooltip"></a>
                </li>

                <li th:if="${searchName == null}" class="page-item" th:classappend="${page + 1 eq totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/search/?page={id}(id=${page + 1})}" aria-label="Next" title="Następna strona" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li th:unless="${searchName == null}" class="page-item" th:classappend="${page + 1 eq totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{'/search/?name=' + ${searchName} + '&amp;page=' + ${page + 1}}" aria-label="Next" title="Następna strona" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>