<div class="container-fluid" th:fragment="breadcrumbs" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:if="${e.value != ''}" class="breadcrumb-item" th:each="e : ${breadcrumbs}">
                <a th:href="@{${e.value}}" th:text="${e.key}"></a>
            </li>
            <li th:unless="${e.value != ''}" class="breadcrumb-item" th:each="e : ${breadcrumbs}">
                <span th:text="${e.key}"></span>
            </li>
            <li class="ml-auto" style="margin-right: 30px;">Zalogowany: <strong th:text="${loggedUsername}"></strong></li>
        </ol>
    </nav>

</div>