<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="collapse navbar-collapse" id="navbarText">

        <a class="navbar-brand" th:href="@{'/'}">
            <img th:src="@{'/resources/images/logo.png'}" height="50" alt="logo">
        </a>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active" th:each="m : ${menu}" th:if="${#request.requestURI == m.value}">
                <a class="nav-link" th:href="@{${m.value}}" th:text="${m.key}"></a>
            </li>

            <li class="nav-item" th:each="m : ${menu}" th:unless="${#request.requestURI == m.value}">
                <a class="nav-link" th:href="@{${m.value}}" th:text="${m.key}"></a>
            </li>
        </ul>

    </div>

</nav>