<div class="container-fluid" th:fragment="userAdd" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Dodawanie użytkownika
            </div>
            <div class="card-body">

                <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                    <span th:utext="${errorMessage}"></span>
                </div>

                <form th:action="@{'/admin/users/add'}" method="post" th:object="${newUserForm}">
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">E-mail <span style="color: red;">*</span> </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Adres e-mail">
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user" class="col-sm-2 col-form-label">Imię i nazwisko <span style="color: red;">*</span> </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}" id="user" placeholder="Username">
                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Zmiana hasła</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{password}" id="inputPassword" placeholder="Hasło">
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputrPassword" class="col-sm-2 col-form-label">Powtórz hasło</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{rpassword}" id="inputrPassword" placeholder="Powtórz hasło">
                        </div>
                    </div>
                    <label class="col-sm-2 col-form-label"></label>
                    <button type="submit" class="btn btn-outline-primary">zapisz użytkownika</button>
                </form>
            </div>
        </div>
    </div>
</div>