<div class="container-fluid" th:fragment="usersList" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row" style="margin: 0 0 -10px 0; padding: 0;">
                    <div class="col-md">
                        <form action="" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" style="width: 200px; margin: 10px 0 0 0; padding: 10px;" name="email" placeholder="Szukaj użytkownika">
                            </div>
                        </form>
                    </div>
                    <div class="col-md text-right">
                        <p th:if="${email != null}" th:text="${'Szukana fraza: ' + email}" style="color: red; margin: 5px 5px 0 0; padding: 5px;"></p>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <table class="table text-center table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa użytkownika</th>
                        <th>Email</th>
                        <th>Hasło</th>
                        <th>Rola</th>
                        <th>Status</th>
                        <th>Opcje</th>
                    </tr>
                    </thead>
                    <tbody>

                        <th:block th:each="user,iter : ${usersList.content}">
                            <tr>
                                <td><span th:text="${iter.count}"></span>.</td>
                                <td th:text="${user.name}"></td>
                                <td>
                                    <a th:href="@{'/admin/users/show/' + ${user.id}}" th:text="${user.email}"></a>
                                </td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.roleId.roleName}"></td>

                                <td th:if="${user.active == 1}">
                                    <img th:src="@{'/resources/images/on.png'}" alt="konto aktywne" />
                                </td>
                                <td th:unless="${user.active == 1}">
                                    <img th:src="@{'/resources/images/off.png'}" alt="konto nieaktywne" />
                                </td>

                                <td>
                                    <a class="btn btn-outline-primary btn-sm" th:href="@{'/admin/users/edit/' + ${user.id}}">Edytuj</a>
                                    <a class="btn btn-outline-danger btn-sm" href="">Usuń</a>
                                </td>

                            </tr>
                        </th:block>

                    </tbody>
                </table>

                <div class="text-center" style="margin: 0 0 10px 0;">
                    <span th:text="${'Znalezionych rekordów: ' + countUsers}"></span>
                </div>
                <nav aria-label="Pagination" th:if="${totalPages gt 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/admin/users/?page={id}(id=${page - 1})}" aria-label="Previous" title="Poprzednia strona" data-toggle="tooltip">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${email == null}" class="page-item"th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:classappend="${i eq page} ? 'active'">
                            <a class="page-link" th:href="@{/admin/users/?page={id}(id=${i})}" th:text="${i + 1}" th:title="${'Strona '+ (i + 1)}" data-toggle="tooltip"></a>
                        </li>
                        <li th:unless="${email == null}" class="page-item"th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}" th:classappend="${i eq page} ? 'active'">
                            <a class="page-link" th:href="@{/admin/users/} + '?email=' + ${email} + '&amp;page=' + ${i}" th:text="${i + 1}" th:title="${'Strona '+ (i + 1)}" data-toggle="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${page + 1 eq totalPages} ? 'disabled'">
                            <a class="page-link" th:href="@{/admin/users/?page={id}(id=${page + 1})}" aria-label="Next" title="Następna strona" data-toggle="tooltip">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>