<div class="container-fluid" th:fragment="userEdit" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Edycja użytkownika
            </div>
            <div class="card-body">

                <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                    <span th:utext="${errorMessage}"></span>
                </div>

                <form th:action="@{'/admin/users/edit/' + ${userUpdate.id}}" method="post" th:object="${userUpdate}">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" style="font-weight: bold;" id="staticEmail" th:field="*{email}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user" class="col-sm-2 col-form-label">Imię i nazwisko <span style="color: red;">*</span> </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}" id="user" placeholder="Username">
                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Zmiana hasła</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{password}" id="inputPassword" placeholder="Hasło">
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputrPassword" class="col-sm-2 col-form-label">Powtórz hasło</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{rpassword}" id="inputrPassword" placeholder="Powtórz hasło">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputrRole" class="col-sm-2 col-form-label">Uprawnienia</label>
                        <div class="col-sm-3">
                            <select id="inputrRole" class="form-control" th:field="*{roleIdLongType}">
                                <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.roleName}"
                                    selected
                                    th:if="${role.id == userUpdate.roleId.id}">
                                </option>
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.roleName}"
                                        th:unless="${role.id == userUpdate.roleId.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputActive" class="col-sm-2 col-form-label">Aktywny</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="inputActive" th:field="*{active}" value="1" />
                        </div>
                    </div>
                    <label class="col-sm-2 col-form-label"></label>
                    <button type="submit" class="btn btn-outline-primary">aktualizuj użytkownika</button>
                    <a class="btn btn-outline-secondary" th:href="@{'/admin/users/show/' + ${userUpdate.id}}">wstecz</a>
                </form>
            </div>
        </div>
    </div>
</div>