<div class="container-fluid" th:fragment="userInfo" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="card">
        <div class="card-header">
            Informacje o użytkowniku <span style="color: #007bff;" th:text="${user.email}"></span>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#nav-home" role="tab" aria-controls="pills-home" aria-selected="true">
                        Dane konta
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#nav-contact" role="tab" aria-controls="pills-profile" aria-selected="false">
                        Adresy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#nav-orders" role="tab" aria-controls="pills-contact" aria-selected="false">
                        Zamówienia
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="card user-card">
                        <div class="card-body">

                            <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                                <span th:utext="${errorMessage}"></span>
                            </div>

                            <div class="alert alert-success" role="alert" th:if="${successMessage}">
                                <span th:utext="${successMessage}"></span>
                            </div>

                            <table class="table" style="margin-bottom: -15px;">
                                <tr>
                                    <td class="text-right">Adres email:</td>
                                    <td th:text="${user.email}"></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Nazwa użytkownika:</td>
                                    <td th:text="${user.name}"></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Hasło:</td>
                                    <td th:text="${user.password}"></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Uprawnienia:</td>
                                    <td th:text="${user.roleId.roleName}"></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Status:</td>
                                    <td>
                                        <span th:if="${user.active eq 1}">Konto aktywne</span>
                                        <span th:unless="${user.active eq 1}">Konto nieaktywne</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a th:href="@{'/admin/users/edit/' + ${user.id}}" class="btn btn-outline-success">Edytuj</a>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="card user-card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-3">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                            Lista adresów
                                        </a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                            Dodaj adres
                                        </a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                            <div class="row">
                                                <div class="col-sm" th:each="ad : ${address}" th:if="${not #lists.isEmpty(address)}">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item" th:text="${ad.street}"></li>
                                                                <li class="list-group-item" th:text="${ad.zipcode} + ' ' + ${ad.city}"></li>
                                                                <li class="list-group-item">
                                                                    <a th:href="@{'/admin/users/' + ${user.id} + '/delete/address/' + ${ad.id}}"
                                                                       onclick="return confirm('Potwierdzasz usunięcie rekordu?')" class="btn btn-outline-danger">Usuń adres</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm" th:unless="${not #lists.isEmpty(address)}">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            brak adresów
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <form th:action="@{'/admin/users/show/' + ${user.id}}" method="post" th:object="${addressDto}">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" th:field="*{street}" id="street" placeholder="Ulica i nr domu/mieszkania">
                                                    <td th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Name Error</td>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" th:field="*{city}" id="city" placeholder="Miasto">
                                                    <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error</td>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" th:field="*{zipcode}" id="zipcode" placeholder="Kod pocztowy">
                                                    <td th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Name Error</td>
                                                </div>
                                                <button type="submit" class="btn btn-primary">zapisz adres</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    brak zamówień
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>