<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="collapse navbar-collapse" id="navbarText">

        <a class="navbar-brand" th:href="@{'/'}">
            <img th:src="@{'/resources/images/logo.png'}" height="50" alt="logo">
        </a>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/admin/'}">Dashboard</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Użytkownicy
                </a>
                <div class="dropdown-menu header-image-action" aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{'/admin/users/'}">Lista użytkowników</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/admin/users/add'}">Dodaj użytkownika</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produkty
                </a>
                <div class="dropdown-menu header-image-action" aria-labelledby="productsDropdown">
                    <a class="dropdown-item" th:href="@{'/admin/products/'}">Lista produktów</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/admin/products/add'}">Dodaj produkt</a>
                </div>
            </li>

        </ul>
        <span class="userMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" style="margin-right: 60px;">
                    <a class="nav-link dropdown-toggle" href="#" id="accoutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Moje konto
                    </a>
                    <div class="dropdown-menu header-image-action" aria-labelledby="accoutDropdown">
                        <a class="dropdown-item" href="#">Moje konto</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/logout'}">Wyloguj się</a>
                    </div>
                </li>
            </ul>
        </span>

    </div>

</nav>