<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home/header :: header"> </head>
<body>
<div class="container">
    <nav th:replace="home/head :: head"> </nav>
    <div style="text-align: center; margin: 50px 0;">

        <a th:href="@{'/'}">
            <img th:src="${'/resources/images/404.jpg'}" />
        </a>

    </div>
</div>
</body>
</html>