<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="home/header :: header"> </head>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#loginModal').modal({
                backdrop: 'static',
                keyboard: false,
                'show': true
            });
            setTimeout(function (){
                $('#email').focus();
            }, 1000);
        });
    </script>
    <body>
        <div class="container">
            <div id="loginModal" class="modal fade">
                <div class="modal-dialog modal-login shadow p-2 mb-4 bg-white rounded">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="left">
                                <img src="resources/images/logo.png" style="width: 70px;"/>
                            </p>
                            <p class="right" style="padding-top: 15px;">
                                LOGOWANIE | <a th:href="${'/'}">STRONA GŁÓWNA</a>
                            </p>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-success" role="alert" th:if="${successMessage}">
                                <span th:utext="${successMessage}"></span>
                            </div>

                            <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
                                <span th:utext="${errorMessage}"></span>
                            </div>

                            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                                Niepoprawna nazwa użytkownika lub hasło.
                            </div>
                            <div class="alert alert-success" role="alert" th:if="${param.ok}">
                                Zostałeś poprawnie wylogowany.
                            </div>

                            <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Adres e-mail" required="required">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control" name="password" placeholder="Hasło" required="required">
                            </div>
                            <div class="form-group">
                                <a class="btn btn-link btn-sm myLoginBtn forgetPass" th:href="@{/register}">Rejestracja</a>
                                <p class="loginBtn">
                                    <input type="submit" class="btn btn-outline-secondary btn-sm myLoginBtn" value="Zaloguj się">
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        &copy; 2019 BUY IT
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>