<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home/header :: header"> </head>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#registerModal').modal({
            backdrop: 'static',
            keyboard: false,
            'show': true
        });
        setTimeout(function (){
            $('#name').focus();
        }, 1000);
    });
</script>
<style>
    .modal-backdrop {
        background-color: #ecf0f1;
    }
</style>
<body>
<div class="container">
    <div id="registerModal" class="modal fade">
        <div class="modal-dialog modal-login shadow p-2 mb-4 bg-white rounded">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="left">
                        <img src="resources/images/logo.png" style="width: 70px;"/>
                    </p>
                    <p class="right" style="padding-top: 15px;">
                        REJESTRACJA | <a th:href="${'/'}">STRONA GŁÓWNA</a>
                    </p>
                </div>
                <div class="modal-body">
                    <form th:action="@{/register}" method="post" th:object="${registerUserForm}">
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" placeholder="Imię i nazwisko" th:field="*{name}">
                            <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</small>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mail-bulk"></i>
                            <input type="text" class="form-control" th:field="*{email}" placeholder="Adres e-mail">
                            <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</small>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" th:field="*{password}" placeholder="Hasło">
                            <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</small>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" th:field="*{rpassword}" placeholder="Powtórz hasło">
                            <small class="form-text text-muted" th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}">error</small>
                        </div>
                        <div class="form-group">
                            <p class="loginBtn">
                                <input type="submit" class="btn btn-outline-secondary btn-sm myLoginBtn" value="Dodaj użytkownika">
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    &copy; 2019 BUY IT
                </div>
            </div>
        </div>
    </div>
</body>
</html>