<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css} "/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} "></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} "></script>
    <title th:text="${title}"></title>
</head>