<div class="nav-scroller py-1 mb-2" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="nav d-flex justify-content-between" style="background-color: #FFFFFF; padding: 7px 0; margin: 5px 0 10px 0; border: solid 2px #000; border-left: none; border-right: none;">
        <a th:each="category : ${categories}" class="p-2 text-muted" th:href="@{'/category/' + ${category.id}}" th:text="${category.name}"></a>
    </nav>
    <div class="alert alert-danger" style="margin-top: 25px;" role="alert" th:if="${errorMessage}">
        <span th:utext="${errorMessage}"></span>
    </div>
</div>